@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FSKTM, UTHM<br />
    Parit Raja 86400 Batu Pahat<br />
    <abbr title="Phone">P:</abbr>
    012345678
</address>

<address>
    <strong>Support 1:</strong>   <a href="mailto:Support@example.com">Muhammad Zakariyya bin Yusof</a><br />
    <strong>Support 2:</strong> <a href="mailto:Marketing@example.com">Mohamad Shahmi bin Mohamad Shafiee</a>
</address>