@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mem Bakery Inventory System</h1>
    <p class="lead">Mem Bakery Inventory System is a to manage the stock in the shop by record all the transaction for in and out stock.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stock</h2>
        <p>
            Add New Stock.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transaction</h2>
        <p>Record and manage the stock out transaction.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Supplier</h2>
        <p>Manage Supplier for Mem Bakery.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>